services:
  database:
    image: mongo:7
    ports:
      - 27017:27017
    networks:
      - mern-app
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=badhon
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    depends_on:
      - database
    env_file:
      - ./backend/.env
    networks:
      - mern-app
    restart: always
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 3001:3000
    networks:
      - mern-app
    env_file: ./frontend/.env
networks:
  mern-app:
    driver: bridge
volumes:
  mongodb_data:
    driver: local
