global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets:
          - "prometheus:9090"

  - job_name: "docker_daemon"
    metrics_path: /metrics
    static_configs:
      - targets:
          - "65.2.130.106:9323"
